# See the NAME for conventions used in this file.
# Learn more about using .gitignore (and save a file with settings) at https://help.github.com/articles/ignoring-files

*~
*.swp
*#
*.*#
*.N[Oo][Ss]
*.o
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.bak
*,v
*+
*.pc
*.mode1v3
*_lst
*.lsproj
.classpath
.cproject
.c9/
*.cproject
.loadpath
.settings/
*.sublime-workspace
*.sublime-project
.history
.vscode
*.swp
*.swo
*~
.DS_Store
Thumbs.db
node_modules/
www/
android/
platforms/
plugins/
*.log
